---
import danielImg from "@/assets/daniel.jpg";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a Web Developer",
	title: "About Me",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About Me</h1>
		<p>
			Hi, I’m Daniel and this is my website and blog. I’m a full-stack developer from the Basque Country based in Argentina.
		</p>
		<div class="flex justify-center overflow-hidden md:h-42 md:w-42 relative mx-auto h-36 w-36 rounded-full lg:h-48 lg:w-48">
			<Image
				alt="Image of Daniel Penedo Lázaro"
				fetchpriority="high"
        class="  h-full w-full object-cover"
				loading="eager"
				src={danielImg}
			/>
		</div>
    <!--TODO: reorganizar para dar prioridad a front-->
    <p>My main programming languages are <b>JavaScript</b>, <b>Python</b>, and <b>Java</b>. I have Diplomas in <i>Django Full-stack development</i> and in the <i>Spring Boot Framework</i> from the <i>Universidad Tecnológica Nacional</i> (Argentina). So, the frameworks that I prefer are <b>Spring</b> and <b>Django</b> for back end and <b>React</b>, or vanilla JavaScript for front end.  Also I'm passionate about <b>Linux</b> and open source projects. On the <a class="cactus-link"href="/posts">blogsite section</a>, I'll share different scripts (mainly in Bash and Python), open source tools I enjoy, and insights into web development concepts.</p>
		<p>Outside of coding, I have a bachelor's degree in Psychology and Comparative Literature on the Universitat Autònoma de Barcelona and I am a graduated music teacher from the Instituto del Profesorado de Arte (in Mar del Plata, Argentina). So I love reading, music, and learning about psychology. </p>
		<p> Feel free to contact me by <a class="cactus-link" href="mailto:danielpenedolazaro@gmail.com">email</a>, check my <a class="cactus-link"  href="https://https://github.com/dpenedo">GitHub</a>, <a class="cactus-link"  href="https://www.linkedin.com/in/daniel-penedo-lazaro/?locale=en_US">LinkedIn</a>, or my <a class="cactus-link"  href="https://x.com/d_Penedo_">Twitter</a>!</p>
	</div>
</PageLayout>
